<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IA-video-generator</title>
    <style>
      #fileInput {
        display: none;
      }

      .custom-upload-btn {
        background-color: #f0f0f0;
        color: black;
        padding: 5px 10px;
        font-size: 16px;
        border: black;
        cursor: pointer;
      }

      .custom-upload-btn:hover {
        background-color: gray;
      }

      .file-name {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Generate Video with Narration</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="script">Type text to narration:</label><br />
      <textarea name="script" rows="4" cols="50"></textarea><br /><br />

      <label for="media">Select an image or video:</label><br><br>

      <label for="fileInput" class="custom-upload-btn">Choose File</label>
      <span class="file-name" id="fileName">No file chosen</span>
      <input type="file" id="fileInput" onchange="showFileName()" />
      
      <script>
        function showFileName() {
          var fileInput = document.getElementById("fileInput");
          var fileName = document.getElementById("fileName");
  
          fileName.textContent =
            fileInput.files.length > 0
              ? fileInput.files[0].name
              : "No file chosen";
        }
      </script> <br><br>
      <button type="submit">Generate Video</button>
    </form>
  </body>
</html>
